/*
 Copy https://codepen.io/mfort/pen/yLqRXoN
*/

.mariposa {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
  /* start at 0 so they don't appear while loading */
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation: fly 4s infinite linear;
  animation-delay: 0.125s;
}
.mariposa:nth-child(2) {
  animation-delay: 0.4s;
}
.mariposa:nth-child(2) .mariposa-turn {
  animation-delay: 0.75s;
}
.mariposa:nth-child(2) .mariposa-turn .mariposa-flutter {
  transform: scale(0.7) rotateX(65deg);
}
.mariposa:nth-child(3) {
  animation-delay: 0.75s;
}
.mariposa:nth-child(3) .mariposa-turn {
  animation-delay: 1.25s;
}
.mariposa:nth-child(3) .mariposa-turn .mariposa-flutter {
  transform: scale(0.3) rotateX(45deg);
}
.mariposa .mariposa-turn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  perspective: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
  margin: auto;
  transform-origin: 50% 80%;
  /* turn from a natural center */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: turn 3s infinite cubic-bezier(0.31, 0.09, 0.77, 1.5);
  transform-style: preserve-3d;
  filter: drop-shadow(50px 30px 10px rgba(0, 0, 0, 0.5));
}
.mariposa-flutter {
  width: 1rem;
  height: 4rem;
  position: relative;
  top: 0;
  margin: 0 auto;
  background: url('/images/butterfly-body.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-style: preserve-3d;
  transform: rotateX(25deg) rotateY(5deg);
}
.mariposa-flutter::before,
.mariposa-flutter::after {
  position: absolute;
  top: 5%;
  margin: auto;
  content: '';
  height: 100%;
  width: 250%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-style: preserve-3d;
  animation-delay: 0;
}
.mariposa-flutter::before {
  background-image: url('/images/butterfly-wing.png');
  transform-origin: 0% 50%;
  animation: flutter-r 0.3s infinite ease-out;
  left: 55%;
}
.mariposa-flutter::after {
  background-image: url('/images/butterfly-wing-l.png');
  transform-origin: 100% 50%;
  animation: flutter-l 0.3s infinite ease-out;
  right: 55%;
}

@keyframes flutter-r {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-40deg);
  }
}
@keyframes flutter-l {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(40deg);
  }
}
@keyframes turn {
  0%,
  100% {
    transform: translateX(-20%) rotateZ(30deg);
  }
  25% {
    transform: translateX(50%) rotateZ(-30deg);
  }
  50% {
    transform: translateX(-80%) rotateZ(30deg);
  }
  75% {
    transform: translateX(30%) rotateZ(-30deg);
  }
}
@keyframes fly {
  0% {
    opacity: 0;
    transform: translateY(70vh);
  }
  3%,
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70vh);
  }
}
