.stars,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.stars {
  z-index: 0;
  background: #000 url('https://i.ibb.co/g91MwKZ/stars.png') repeat top center;
}

.clouds {
  z-index: 2;
  background: transparent url('https://i.ibb.co/BsG8rYZ/clouds.png') repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
