@import 'tailwindcss';

@theme {
  --bg-background: linear-gradient(rgb(0, 0, 0), rgb(5, 11, 22));
  --color-mint-500: oklch(0.72 0.11 178);
}
body {
  background-image: var(--bg-background);
  opacity: 0.9;
  color: #f5eee6;
  overflow: hidden;
}

@layer components {
  .text-stroke {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
}
