@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-background: linear-gradient(rgb(0, 0, 0), rgb(5, 11, 22));
}

body {
  background-image: var(--bg-background);
  opacity: 0.9;
  color: #f5eee6;
  overflow: hidden;
}

@layer components {
  .text-stroke {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
}
